# All settings are read with the SORBENT_ prefix. See src/sorbent/config.py.
SORBENT_MAX_LIBRARY_SIZE=250000
SORBENT_CHUNK_SIZE=2000
# 0 means "use os.cpu_count()"
SORBENT_WORKER_PROCESSES=0
SORBENT_JOB_TTL_SECONDS=86400
SORBENT_MAX_UPLOAD_BYTES=67108864
SORBENT_LOG_LEVEL=INFO
